html
  head
    link(href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script' rel='stylesheet')
    link(rel='stylesheet' type='text/css' href='app.css')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
  body
    section#main-container
    footer.site-footer
      .container
        .row
          .col.s12.l3.center-align
            a.dropdown-button.btn.btn-flat(href='#', data-activates='dropdown1') Languages
            ul#dropdown1.dropdown-content
              li
                a(href='#!') Spanish
              li
                a(href='#!') English
              li
                a(href='#!') French
          .col.s12.l3.push-l6.center-align
            | Camilo Arguello ®
    script(type='text/javascript', src='jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')